.how {
  padding-top: 120px;
  padding-bottom: 120px;
  color: $color-white;
  background-color: $color-cerulean-blue;

  @include vp-1439 {
    padding-top: 100px;
    padding-bottom: 99px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.how__wrapper {
  display: grid;
  grid-template-columns: 40.2% 40.1%;
  gap: 138px;

  @include vp-1439 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.how__intro {
  display: flex;
  flex-direction: column;
  gap: 31px;

  @include vp-1439 {
    gap: 31px;
  }

  @include vp-767 {
    gap: 13px;
  }

  h2 {
    @include title-light;
  }

  p {
    margin: 0;
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $color-alabaster;

    @include vp-1439 {
      max-width: 498px;
      line-height: 20px;
      padding-bottom: 0;
    }

    @include vp-767 {
      font-size: 14px;
      max-width: 100%;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    margin-top: 4px;

    @include vp-1439 {
      margin-top: 8px;
    }

    @include vp-767 {
      margin-top: 12px;
    }
  }
}

.how__info {
  display: flex;
  flex-direction: column;
  gap: 56px;

  @include vp-1439 {
    gap: 45px;
  }

  @include vp-767 {
    gap: 26px;
  }

  h3 {
    margin: 0;
    padding-top: 10px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;

    @include vp-1439 {
      font-size: 28px;
      line-height: 28px;
      padding-top: 11px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    counter-reset: steps;

    @include vp-1439 {
      display: grid;
      grid-template-columns: 46.3% 46.4%;
      row-gap: 26px;
      column-gap: 48.5px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      row-gap: 15px;
    }
  }
}

.how__item {
  position: relative;
  padding: 30.5px 57px 29px 24px;
  border: 1px solid $color-alabaster;
  border-radius: 16px;

  &::after {
    position: absolute;
    counter-increment: steps;
    content: counter(steps);
    z-index: 1;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.22px;
    text-align: center;
    padding: 10px;
    left: -21px;
    top: -16px;
    width: 42px;
    height: 42px;
    border-radius: 30px;
    background-color: $color-cerulean-blue;

    @include vp-767 {
      width: 32px;
      height: 32px;
      font-size: 18px;
      line-height: 18px;
      padding: 6px 4px;
      left: -16px;
      top: -6px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @include vp-1439 {
      font-size: 16px;
      line-height: 20px;
      width: 240px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }

  @include vp-1439 {
    padding: 30px 15px 30px 25px;
  }

  @include vp-767 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
